* {
  vertical-align: top;
}

body {
  background-color: white;
  min-height: 1200px;
  margin: 0px;
}
.container {
  width: 1000px;
  min-height: 1500px;
  margin: 0 auto;
  
}

.header {
  width: 100%;
  height: 525px;
  position: relative;
  background-color: rgba(0,0,0, 0.4);
  /*display: inline-block;*/
  
}

.header h1 {
  font-size: 73px;
  text-align: center;
  position: absolute;
  top: 195px;
  left: 320px;
}

.header h4 {
  color: white;
  position: absolute;
  word-spacing: 10px;
  top: 0px;
  right: 90px;
}

.header h5 {
  color: white;
  position: absolute;
  word-spacing: 3px;
  top: 0px;
  left: 100px;
}

.header h6 {
  position: absolute;
  top: 285px;
  left: 500px;
}

.climbon-image{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  left: 60px;
}

.magglass-image{
  width: 17px;
  height: 17px;
  position: absolute;
  top: 23px;
  right: 69px;
}

.header-image {
  z-index: -9;
  width: 100%;
  height: 525px;
  position: absolute;
  top:0px;
  left: 0px;
  right: 0px;
}

.content {
  width: 100%;
  height: 1400px;
  background-color: white;
}

.left-column {
  width:680px;
  height: 1300px;
  background-color: white;
  display: inline-block;
  position: relative;
  left: 0px;
  top: 20px;
  /*border: 1px dashed blue;*/
}

.smallbubble {
  width: 28px;
  height: 28px;
  border-radius: 20px;
  position: absolute;
  top: 200px;
}

.smallbubble-text h5 {
  color: blue;
  position: absolute;
  top: 185px;
  left: 35px;

}

.smallbubble-text h4 {
  color: gray;
  position: absolute;
  top: 183px;
  left: 130px;
}

.left-column h1{
  text-align: left;
  font-size: 45px;
  /*position: absolute;*/
}



.leftcolumn-box {
  height: 60px;
  width: 300px;
  border-left: 2px solid gray;
  position: absolute;
  left: 5px;
  top: 500px;
}

.leftcolumn-top {
  position: absolute;
  top: 250px;
}

.leftcolumn-bottom {
position: absolute;
top: 570px;
}

.left-columnt h1{
  color: blue;
  font-size: 30;
  word-spacing: 5px;
  position: absolute;
  top: 0px;
  left: 17px;
}

.bigbox{
border: 1px solid gray;

}

.boxtext{
  position: absolute;
  color: white;
  top: 435px;
  left: 105px;
}

.boxtext1{
  position: absolute;
  color: white;
  top: 435px;
  left: 295px;
}

.boxtext2{
  position: absolute;
  color: white;
  top: 435px;
  left: 460px;
}

  .leftcolumn-box1{
    width: 125px;
    height: 30px;
    position: absolute;
    background-color: #D3D3D3;
    left: 95px;
    top: 450px;

  }

  .leftcolumn-box1-1 h5{
    background-color: gray;
    position: absolute;
    height: 30px;
    width: 35px;
    top: 428px;
    left: 60px;

  }

  .leftcolumn-box2{
    position: absolute;
    background-color: #D3D3D3;
    width: 100px;
    height: 30px;
    left: 285px;
    top: 450px;

  }

  .leftcolumn-box2-1 h5{
    background-color: gray;
    height: 30px;
    width: 35px;
    position: absolute;
    top: 428px;
    left: 250px;

  }
  .leftcolumn-box3{
  position: absolute;
  background-color: #6495ED;
  width: 125px;
  height: 30px;
  left: 450px;
  top: 450px;
  }

  .leftcolumn-box3-1 h5{
    background-color: #27408B;
    height: 30px;
    width: 35px;
    position: absolute;
    top: 428px;
    left: 415px;

  }
  



.right-column {
  width: 300px;
  height: 1300px;
  background-color: white;
  position: relative;
  left: 35px;
  top: 20px;
  display: inline-block;
  /*border: 1px dashed blue;*/
}

/*.top-right {
  background-color: black;
}*/

.right-column h4 {
  color: blue;
  position: absolute;
  top: 115px;
  left: 90px;
  
}

.right-column h5 {
  color: gray;
  position: absolute;
  word-spacing: 10px;
  top: 140px;
  left: 55px;
}

.right-img {
  width: 150px;
  height: 170px;

}

.rightcolumn-image {
  width: 300px;
  height: 350px;
  position: absolute;
  top: 250px;
  left: 0px;
}

.imgoverlay1 {
   width: 300px;
  height: 350px;
  position: absolute;
  background-color: rgba(0,0,0, 0.4);
  top: 250px;
  left: 0px;
}
.right-columnt h5 {
  color: gray;
  position: absolute;
  top: 580px;
  left: 190px;
  text-decoration: underline;

}

.right-columnt h3 {
  color: blue;
  position: absolute;
  top: 660;

}

.right-columnt p {
  color: gray;
  position: absolute;
  top: 690;
}

.top-right {
  width:100;
  height: 100;
  border-radius: 50px;
  position: absolute;
  top: 25px;
  right: 100px;

}

.imgoverlay{
  width:100;
  height: 100;
  border: 1px solid black;
  background-color: rgba(0,0,0, 0.4);
  border-radius: 50px;
  position: absolute;
  top: 24px;
  right: 99px;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: black;
  position: relative;
  display: inline-block;

}

.footertextleft h5 {
  color: white;
  position: absolute;
  top: 25px;
  left: 145px;
}

.footertextright1 h5 {
  color: white;
  position: absolute;
  top: 25px;
  right: 350px; 
}

.footertextright2 h5{
  color: white;
  position: absolute;
  top: 25px;
  right: 265px;
  border-left: 1px solid white;
  padding-left: 7px;
}

.footertextright3 h5{
  color: white;
  position: absolute;
  top: 25px;
  right: 180px;
  border-left: 1px solid white;
  padding-left: 7px;
}

.footertextright4 h5{
  color: white;
  position: absolute;
  top: 25px;
  right: 100px;
  border-left: 1px solid white;
  padding-left: 7px
}

.ironyard-image {
width: 75px;
height: 75px;
position: relative;
top: 12px;
left: 55px;
}



