%h4 Add Comment
= form_tag add_comment_location_course_assignment_path(@location, @course, @assignment), method: :post, remote: true
= text_area_tag "comment[content]" , "", placeholder: "Enter Comment"
= submit_tag "Submit"