<form action="/addpage" method="post">
<label> Title:
  <textarea class="form-control" rows="1" name="post[blog_title]"></textarea>
</label>
<br>
<label>
  Content:
  <textarea class="form-control" rows="20" name="post[blog_content]"> </textarea>
</label>
<br>
<input type="submit" value="Post">
</form>

