<form action ="/editpost/<%= @post.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label>Title
    <input type ="text" name="post[blog_title]">
    <br>
    <label>Content
      
      <textarea class="form-control" rows="20" name="post[blog_content]"> </textarea>
      <br>
      <input type="submit" value="Submit Post">
</form>
  <a href="/">Home</a>

