%h1 Patient Information
="Patient Name--"
=@patient.name 
%br
="Address--"
=@patient.address 
%br
="Phone Number--"
=@patient.phone_number 
%br
="Adittional Info--"
=@patient.ad_info
%br
=link_to "Patient List", root_path