%h1 Patient Information
%br
=link_to "Patients page", hospital_path(@hospital)
%br
=@patient.name 
%br

=@patient.address 
%br

=@patient.phone_number 
%br

%h1 Medications
%br
= link_to "New Medication", new_hospital_patient_medicine_path(@hospital, @patient)
%hr
-@medicines.each do |medicine|
  %br
  =link_to medicine.name, hospital_patient_medicine_path(@hospital, @patient, medicine)
  |
  = link_to "Delete", hospital_patient_medicine_path(@hospital, @patient, medicine), method: :delete
  |
  = link_to "Edit Medication", edit_hospital_patient_medicine_path(@hospital, @patient, medicine)


